<!DOCTYPE html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royal Elixir</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">

    <meta name="author" content="Ana Luiza Saldanha e Nicolly Moura">
    <meta name="description" content="Site para login do royal elixir">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="Pagina de Login Royal Elixir">

<head>

<body>

     <section id="login">
        <h2>Login</h2>
        <p>Área de acesso para jogadores e administradores.</p>
        <form>
            <input type="text" placeholder="Usuário" required><br><br>
            <input type="password" placeholder="Senha" required><br><br>
            <button type="submit">Entrar</button>
        </form>
    </section>


</body>

</html>