<form action="{% url 'add_to_cart' produto.pk %}" method="post">
    {% csrf_token %}
    
    {% if specs_agrupadas %}
        <hr>
        {% for tipo, lista_specs in specs_agrupadas.items %}
            
            <h4 style="color: violet;">Escolha {{ tipo }}:</h4>
            
            <div class="specs-selection" style="display: flex; gap: 15px; flex-wrap: wrap; margin-bottom: 20px;">
                {% for spec in lista_specs %}
                    <label style="cursor: pointer; border: 1px solid #555; padding: 10px; border-radius: 8px; background: #2c1038;">
                        <input type="radio" name="especificacao" value="{{ spec.pk }}" required>
                        
                        <span style="color: white; font-weight: bold;">{{ spec.descricao }}</span>
                        
                        {% if spec.foto %}
                            <br>
                            <img src="{{ spec.foto.foto.url }}" style="width: 40px; height: 40px; object-fit: cover; margin-top: 5px; border-radius: 4px;">
                        {% endif %}
                    </label>
                {% endfor %}
            </div>
            
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn-custom" style="background-color: green;">
        Comprar - R$ {{ produto.preco_venda }}
    </button>
</form>